<section class="about" id="about">
    <div class="about__pic-wrap">
        <div class="container">
            <p class="about__pre-title">tradition and love</p>
            <h2 class="about__title">how it’s made?</h2>
            <div class="about-wrap">
                <div class="about__pic"></div>
                <div class="about__description">
                    <h3 class="about__description-title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus,
                        faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.</h3>
                    <div class="about__description-wrap">
                        <p class="about__description-paragraph">
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                            imperdiet
                            placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt.
                        </p>
                        <p class="about__description-paragraph">Aliquam erat volutpat. Aenean accumsan.</p>
                    </div>
                    <button about__data-modal-open type="button" class="about__button">Read more</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div about__data-modal class="about__backdrop about__modal--is-hidden">
    <div class="about__modal-window">
        <button about__data-modal-close type="button" class="about__close-button">
            <svg width="15" height="15">
                <use href="/images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h3 class="modal-window__title">How it's made?</h3>
        <p class="modal-window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint labore, deleniti iste fugiat aliquam neque obcaecati. Quam sit quis sunt porro ea, voluptatem necessitatibus eveniet minima. Commodi, nam incidunt officiis harum possimus at culpa fugiat, error vel rerum obcaecati accusantium.</p>
    </div>
</div>