
<section class="contacts" id="contacts">
    <h2 class="visually-hidden">contacts</h2>
    
        <div class="contacts-wrap">
            <div class="contacts-container__background">
                <div class="container contacts-container">
                    <ul class="list representation__list">
                        <li class="representation__item">
                            <div class="representation-cafe">
                                <p class="representation__text">cafe</P>
                            </div>
                            <ul class="list contacts__list">
                                <li class="contacts__item">
                                    <div class="representation__city">
                                        <p class="contacts-item__title">Chicago</P>
                                        <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie
                                            vulputate</P>
                                    </div>
                                </li>
                                <li class="contacts__item">
                                    <ul class="list schedule__list">
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Monday - Friday</P>
                                            <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                        </li>
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Saturday - Sunday</P>
                                            <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                        </li>
                                    </ul>
                                </li>
                                <li class="contacts__item">
                                    <div class="representation__contacts">
                                        <ul class="list representation-contacts__list">
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link" href="tel:+61(0)383766284">+61(0)
                                                    383 766 284</a>
                                            </li>
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link"
                                                    href="noreply@envato.com">noreply@envato.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="representation__item">
                            <div class="representation-foodtruck">
                                <p class="representation__text">foodtruck</P>
                            </div>
                            <ul class="list contacts__list">
                                <li class="contacts__item">
                                    <div class="representation__city">
                                        <p class="contacts-item__title">Los Angeles</P>
                                        <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie
                                            vulputate</P>
                                    </div>
                                </li>
                                <li class="contacts__item">
                                    <ul class="list schedule__list">
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Monday - Friday</P>
                                            <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                        </li>
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Saturday - Sunday</P>
                                            <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                        </li>
                                    </ul>
                                </li>
                                <li class="contacts__item">
                                    <div class="representation__contacts">
                                        <ul class="list representation-contacts__list">
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link" href="tel:+61(0)383766284 ">+61(0)
                                                    383 766 284</a>
                                            </li>
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link"
                                                    href="noreply@envato.com">noreply@envato.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="representation__item">
                            <div class="representation-cafe">
                                <p class="representation__text">cafe</P>
                            </div>
                            <ul class="list contacts__list">
                                <li class="contacts__item">
                                    <div class="representation__city">
                                        <p class="contacts-item__title">New York</P>
                                        <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie
                                            vulputate</P>
                                    </div>
                                </li>
                                <li class="contacts__item">
                                    <ul class="list schedule__list">
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Monday - Friday</P>
                                            <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                        </li>
                                        <li class="chedule__item">
                                            <p class="contacts-item__title">Saturday - Sunday</P>
                                            <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                        </li>
                                    </ul>
                                </li>
                                <li class="contacts__item">
                                    <div class="representation__contacts">
                                        <ul class="list representation-contacts__list">
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link"
                                                    href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                                            </li>
                                            <li class="representation-contacts__item">
                                                <a class="link representation-contacts__link"
                                                    href="noreply@envato.com">noreply@envato.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    <ul class="contact-button__list">
                        <li class="contact-button__item">
                            <button data-modal-location-open type="button" class="modal-locations__button">Our
                                Locations</button>
                        </li>
                        <li class="contact-button__item">
                            <button data-modal-about1-open type="button" class="about-modal1__btn1">Franchise</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
        <!-- -------------------------------modal-location--------------------------- -->
        <div data-modal-location class="backdrop-location is-hidden">
            <div class="modal-location">
                <button data-modal-location-close type="button" class="modal-location-close__button">
                    <svg class="close-modal-icon">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <p class="modal-location__title">
                    find tasty
                </p>
                <div class="modal-location__social">
                    <ul class="location-social__list list">
                        <li class="social-footer__item">
                            <a href="https://www.github.com/" class="social-footer__link link">
                                <svg class="footer__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-footer__item">
                            <a href="https://www.telegram.com/" class="social-footer__link link">
                                <svg class="footer__icon" width="20" height="15">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-footer__item">
                            <a href="https://www.facebook.com/" class="social-footer__link link">
                                <svg class="footer__icon" width="9" height="20">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <form action="#" class="modal-location-form">
                    <div class="modal-location-form__field">
                        <ul class="list location-list">
                            <li class="location-item">
                                <p class="select-box__title">select city</p>
                                <select class="modal-location__select">
                                    <option>Chicago</option>
                                    <option>Los Angeles</option>
                                    <option>New York</option>
                                </select>
                            </li>
                            <li class="location-item">
                                <p class="select-box__title">select cafe</p>
                                <select class="modal-location__select">
                                    <option>Cafe</option>
                                    <option>foodtruck</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="location-map">
                    <picture>
                        <source srcset="/images/map_chikago.jpg" media="(min-width: 1200px)" />
                        <source srcset="/images/map_chikago_mob.jpg" media="(min-width: 320px)" />
                        <img src="/images/map_chikago.jpg" alt="chikago_map" />
                    </picture>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <!-- -------------------------------modal-franchise--------------------------- -->
      
            
       
    <div data-about1-modal class="about-backdrop1 her__modal--is-hidden"  >
        <div class="about-modal1 ">
            <h3 class="about-modal1__title1">How to make Ice Cream</h3>
            <p class="about-modal1__text1">
                Pour the milk into a saucepan and bring to a boil over medium heat. Combine the yolks with
                the sugar, beat into a fluffy foam. Put the resulting mass on low heat and, stirring
                constantly, cook until thickened. Pour the ice cream into a tray or serving cups and leave
                to freeze for 4 hours.
            </p>
            <p class="about-modal1__text1">
                Dessert is much more useful than store-bought products, because it does not contain palm oil
                and carcinogens. Your children will not even notice the difference, so feel free to prepare
                large portions for the whole family. For cooking, it is enough to stock up on simple
                ingredients that housewives always have on hand
            </p>
    
            <button data-modal-about1-close class="about-modal__btn2" >Close</button>
        </div>
    </div>
    
</section>