<section class="customer-reviews">
    <div class="container">
        <div class="customer-reviews__slider">
            <div class="customer-reviews__item">
                <img class="customer-reviews__img"
                    srcset="./images/customers/customer-one.png 1x, ./images/customers/customer-one2x.png 2x"
                    src="./images/customers/customer-one.png" alt="Emily's photo" />
                <div class="customer-reviews__feedback"><p class="customer-reviews__feedback--underline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
                expedita id
                corrupti vel assumenda cupiditate neque repellat quod. Sunt minus iste quis nulla, temporibus animi
                unde
                consequatur earum quidem deserunt.</p>
                </div>
                <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__img"
                    srcset="./images/customers/customer-two.png 1x, ./images/customers/customer-two2x.png 2x"
                    src="./images/customers/customer-two.png" alt="Julia's photo" />
                <div class="customer-reviews__feedback"><p class="customer-reviews__feedback--underline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                    ducimus
                    repellat molestias, quaerat aliquid ea itaque. Perspiciatis commodi repellat maiores quos doloribus
                    consequuntur tempore magnam, eum beatae rerum, repellendus vel. </p>
                </div>
                <h3 class="customer-reviews__name">Julia, NY</h3>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__img"
                    srcset="./images/customers/customer-three.png 1x, ./images/customers/customer-three2x.png 2x"
                    src="./images/customers/customer-three.png" alt="Kristy's photo" />
                <div class="customer-reviews__feedback"><p class="customer-reviews__feedback--underline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ut,
                    aliquid
                    praesentium magnam, tempora inventore, totam officia fugit voluptatum dolor distinctio enim. Ducimus
                    ad
                    beatae fugit sapiente? Fugit, beatae cupiditate! Odio, deserunt fugit quasi debitis distinctio
                    aliquid
                    veniam molestiae!</p>
                </div>
                <h3 class="customer-reviews__name">Kristy, Chicago</h3>
            </div>
        </div>
</section>

