<footer class="footer">
    <div class="footer__container container">
        <div class="footer__elements--position">
            <div class="footer__title--position">
                <b class="footer__title">homemade ice cream made</b>
                <span class="footer__title--accent">with passion</span>
            
            </div>
            <div class="footer__social--position">
                <ul class="footer__list list">
                    <li class="social-footer__item">
                        <a href="https://www.github.com/" class="social-footer__link link">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-footer__item">
                        <a href="https://www.telegram.com/" class="social-footer__link link">
                            <svg class="footer__icon" width="20" height="15">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-footer__item">
                        <a href="https://www.facebook.com/" class="social-footer__link link">
                            <svg class="footer__icon" width="9" height="20">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer__tel">
                    <b class="footer__text">Feel free to contact</b>
                    <a href="tel:+61(0)383766284" class="footer__link-tel link">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
        <div class="footer__rights">
            <p class="footer__text-rights footer__text--move">© 2022 - IceCream.</p>
            <p class="footer__text-rights"> All Rights Reserved.</p>
       </div>
    </div>

</footer>