<!--Шапка сайта Герой-->

<header class="header">
<div class="container">
  <div style="justify-content: space-between;
        display: flex; align-items: center;">
    <a class="header-logo" href="./index.html"><img srcset="./images/logo/logo-desktop.png 1x, ./images/logo/logo-desktop2x.png 2x" src="./images/logo/logo-desktop.png" alt="logo icecream"></a>
    <div class="header-mobile">
    <nav>
        <ul class="header-content">
            <li class="header-list header-list--active"><a href="./index.html">Home</a></li>
            <li class="header-list"><a href="#about" class="header-link scrollto">About us</a></li>
            <li class="header-list"><a href="#advantages" class="scrollto">How it’s made?</a></li>
            <li class="header-list"><a href="#products" class="scrollto">Our products</a></li>
            <li class="header-list"><a href="#contacts" class="scrollto">Contact</a></li>
        </ul>
    </nav>
    </div>
        <div class="buttons">
    <button  class="menu-toggle menu-toggle--open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="open-mobile-icon"><use href="./images/sprite.svg#icon-Burger"></use></svg></button>

    <button data-modal-open type="button" class="header-button">Buy now</button>

  </div>
</div>

<!--MODALKA-->


  <div data-modal class="backdrop is-hidden-modal">
   <div class="modalka">
        <div class="button-header__modal">
        <button  data-modal-close type="button" class="button-header__close">DONT <br> CLICK <br> HERE</button>

                <form class="form-modal" name="signup_form" action="./index.html" autocomplete="off" novalidate>

                    <h2 class="modal-text">Choise your favorite IceCream</h2>

                    <div class="modal">
                        <label class="modal__label">
                            What is your name?
                            <input type="text" name="name" class="modal__input" placeholder="Your name">
                          </label>
                    </div>

                      <div class="modal">
                        <b class="modal-word">Icecream</b>

                        <img src="./images/products/products-desktop-one.png" class="modal-photo" width="50px" alt="photo Icecream">

                        <label class="modal__label">
                            how much ice cream can you eat?
                            ...order immediately 
                            <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                          </label>
                    </div>
            
                      <div class="modal">
                        <b class="modal-word">Icecoffe</b>

                        <img src="./images/products/products-mobile-three.png" class="modal-photo" width="50px" alt="photo Icecoffe">

                        <label class="modal__label">
                            how much ice cream can you drink?
                            ...order immediately 
                            <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                          </label>
                    </div>                           

                    <div class="modal">
                        <b class="modal-word">Milkshakes</b>

                        <img src="./images/products/products-mobile-two.png" class="modal-photo" width="50px" alt="photo Milkshakes">

                        <label class="modal__label">
                            how much ice cream can you shake?
                            ...order immediately 
                            <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                          </label>
                    </div>

                    <div class="modal">
                        <label class="modal__label">
                            We call you back
                            <input type="tel" name="tel" class="modal__input" placeholder="+380 (95) 111 11 11">
                          </label>
                    </div>

                    <div class="modal">
                        <button type="submit" class="modal_submit">LETS DO IT!</button>
                    </div>                        
                
                </form>
        </div>
   </div>
  </div>


    <div data-mobile class="menu-container js-menu-container" id="mobile-menu">
            <button class="menu-toggle menu-toggle--close js-close-menu" type="button">
                <svg class="close-mobile-icon"><use href="./images/sprite.svg#icon-close"></use></svg>
            </button>
            <button data-burger-mobile-open class="button-mobile-module" type="button">Buy now</button>
            <nav>
                <ul class="header-content">
                    <li class="header-list header-list--active"><a href="./index.html">Home</a></li>

                    <li class="header-list"><a href="#about" class="header-link scrollto">About us</a></li>

                    <li class="header-list"><a href="#advantages"class="scrollto">How it’s made?</a></li>
                    <li class="header-list"><a href="#products"class="scrollto">Our products</a></li>
                    <li class="header-list"><a href="#contacts"class="scrollto">Contact</a></li>
                </ul>
            </nav>
    </div>


<!--MODALKA-BURGER-->


<div data-burger-mobile class="backdrop is-hidden">
  <div class="modalka">
       <div class="button-header__modal">
       <button data-burger-mobile-close type="button" class="button-header__close">DONT <br> CLICK <br> HERE</button>

               <form class="form-modal" name="signup_form" action="./index.html" autocomplete="off" novalidate>

                   <h2 class="modal-text">Choise your favorite IceCream</h2>

                   <div class="modal">
                       <label class="modal__label">
                           What is your name?
                           <input type="text" name="name" class="modal__input" placeholder="Your name">
                         </label>
                   </div>

                     <div class="modal">
                       <b class="modal-word">Icecream</b>

                       <img src="./images/products/products-desktop-one.png" class="modal-photo" width="50px" alt="photo Icecream">

                       <label class="modal__label">
                           how much ice cream can you eat?
                           ...order immediately 
                           <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                         </label>
                   </div>
           
                     <div class="modal">
                       <b class="modal-word">Icecoffe</b>

                       <img src="./images/products/products-mobile-three.png" class="modal-photo" width="50px" alt="photo Icecoffe">

                       <label class="modal__label">
                           how much ice cream can you drink?
                           ...order immediately 
                           <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                         </label>
                   </div>                           

                   <div class="modal">
                       <b class="modal-word">Milkshakes</b>

                       <img src="./images/products/products-mobile-two.png" class="modal-photo" width="50px" alt="photo Milkshakes">

                       <label class="modal__label">
                           how much ice cream can you shake?
                           ...order immediately 
                           <input type="number" name="amount" class="modal-amount" required min="1" max="10">
                         </label>
                   </div>

                   <div class="modal">
                       <label class="modal__label">
                           We call you back
                           <input type="tel" name="tel" class="modal__input" placeholder="+380 (95) 111 11 11">
                         </label>
                   </div>

                   <div class="modal">
                       <button type="submit" class="modal_submit">LETS DO IT!</button>
                   </div>                        
               
               </form>
       </div>
  </div>
 </div>


        
</div>
    
</header>