<!--Секція продукти-->
<section id="products" class="products">
    <div class="products__container container">
            <p class="products__pre-title">100% natural</p>
            <h2 class="products__title">products</h2>
            <ul class="products__list">
                <li class="products__item products__item--icecream">
                    <h3 class="products__name products__name--icecream">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button data-pink-open class="products__btn" type="button">
                    </button>
                    <!--модалка 1-->
                    <div data-pink class="overlay products__modal--is-hidden_pink">
                        <div class="modal__products modal__products--icecream">
                            <button data-pink-close class="btn-products__close">
                                <svg width="15" height="15">
                                    <use href="/images/sprite.svg#icon-close"></use>
                                </svg>
                            </button>
                            <h3 class="modal__title">ice cream</h3>
                            <p class="modal__text">Our Classic ice cream flavors are made with high quality ingredients like 100%
                                Grade A
                                milk and cream and naturally
                                sourced colors and flavors. Take our Natural Vanilla for example, it's made with 100% sustainably
                                sourced
                                vanilla from
                                Madagascar. With over 40 flavors to choose from, it may be hard to pick a favorite.</p>
                        </div>
                    </div>
                    <!--кінець.мод.1-->
                </li>
                <li class="products__item products__item--icecoffee">
                    <h3 class="products__name products__name--icecoffee">ice coffee</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button data-brown-open class="products__btn" type="button"></button>
                    <!--модалка 2-->
                    <div data-brown class="overlay products__modal--is-hidden_brown">
                        <div class="modal__products modal__products--icecoffee">
                            <button data-brown-close class="btn-products__close">
                                <svg width="15" height="15">
                                    <use href="/images/sprite.svg#icon-close"></use>
                                </svg>
                            </button>
                            <h3 class="modal__title">ice coffee</h3>
                            <p class="modal__text">Healthy iced coffee made with cold (leftover) coffee, almond milk and without any
                                added sugar. On a hot summer day, it
                                will satisfy your late afternoon craving.</p>
                        </div>
                    </div>
                    <!--кінець.мод.2-->
                </li>
                <li class="products__item products__item--milkshakes">
                    <h3 class="products__name products__name--milkshakes">milkshakes</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button data-green-open class="products__btn" type="button"></button>
                    <!--модалка 3-->
                    <div data-green class="overlay products__modal--is-hidden_green">
                        <div class="modal__products modal__products--milkshakes">
                            <button data-green-close class="btn-products__close">
                                <svg width="15" height="15">
                                    <use href="/images/sprite.svg#icon-close"></use>
                                </svg>
                            </button>
                            <h3 class="modal__title">milkshakes</h3>
                            <p class="modal__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, iste
                                cupiditate, doloremque excepturi enim cumque illum pariatur nesciunt magnam ab consectetur ipsa
                                architecto sit exercitationem sapiente, consequuntur hic dolorem esse?</p>
                        </div>
                    </div>
                    <!--кінець.мод.3-->
                </li>
            </ul>
    </div>
</section>