.advantages {
  background-color: $bg-color;
  padding-bottom: 145px;

  &__container {
    background-color: $bg-color;

    // padding-left: 15px;
    // padding-right: 15px;
    // margin: 0 auto;
    // max-width: 480px;

    // @media screen and (min-width: 768px) {
    //   max-width: 730px;
    // }

    // @media screen and (min-width: 1280px) {
    //   max-width: 1080px;
    // }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__text_primary {
    text-align: left;
    margin-bottom: 15px;
    font-family: Titan One;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-title-color;
  }
  &__item {
    &::before {
      display: block;
      content: '';
      width: 50px;
      height: 50px;
      margin-bottom: 16px;
    }
  }
  &__text_secondary {
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    width: 230px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
    &__list {
      flex-direction: row;
    }
    &__text_primary {
      font-size: 48px;
      line-height: 1.14;
      margin-bottom: 13px;
      text-transform: none;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
      &::before {
        margin-bottom: 36px;
      }
    }
    &__text_secondary {
      font-size: 14px;
      line-height: 1.71;
      height: 67px;
      width: 180px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
    z-index: 1;
    &__list {
      flex-direction: row;
    }
    &__text_primary {
      font-size: 58px;
      margin-bottom: 15px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
      &::before {
        margin-bottom: 40px;
      }
    }
    &__text_secondary {
      font-family: DM Sans, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0.02em;
      height: 52px;
      width: 100%;
    }
  }
}

.advantages__icon1::before {
  background-image: url(/images/advantages/advantages-one-mobile2x.png);
  width: 33px;

  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: 768px) {
    background-image: url(/images/advantages/advantages-one-tablet2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/advantages/advantages-desktop-one2x.png);
  }
}
.advantages__icon2::before {
  background-image: url(/images/advantages/advantages-two-mobile2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 38px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    background-image: url(/images/advantages/advantages-two-tablet2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/advantages/advantages-desktop-two2x.png);
  }
}
.advantages__icon3::before {
  background-image: url(/images/advantages/advantages-three-mobile2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 38px;
  width: 44px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    background-image: url(/images/advantages/advantages-three-tablet2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/advantages/advantages-desktop-three2x.png);
  }
}
